.paragrafo{
    padding-left: 5em;
    width: 30em;
    font-size: 30px;
    text-align: justify;
    padding-right: 95px;
    
}
.pratique {
    padding-left: 3em;
    text-align: left;
    padding-right: 7em;
}
.imgleft {
    width: 200px;
    float: left;
    margin-right: 15px;
}
.imgright {
    width: 200px;
    float: right;
    margin-left: 15px;
}
.paragraforight {
    padding-right: 2em;
    font-size: 30px;
    text-align: right;
    padding-left: 35em;
}
.pratique2 {
    padding-right: 1em;
    text-align: right;
    padding-left: 7em;
}